
*{
    padding: 0;
    margin: 0;
    user-select: none;
    font-family: 'Playfair Display', serif;
}
html {
    scroll-behavior: smooth;
  }
img{
    max-width: 100%;
}
main{
    overflow: hidden;
}
.linked-in{
    display: none;
}
.email{
    white-space: nowrap;
}
#nav-bar-real-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3; 
    transition: opacity 2s;
}
#nav-bar-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: rgba(14, 14, 14, 0.911);
    color: white;
    opacity: 1;
    
    padding: 1rem 0;
}
.fade{
    opacity: 0;
    transition: opacity 5s; 
}
.nav-logo{
    display: flex;
}
.nav-links{
    width: 100%;
    float: right;
    text-align: right;  
    margin: auto;
    justify-content: space-between;
    margin-right: 5vw;
    z-index: 3;
    position: relative;
    
}
.nav-links2-container{
    position: relative;
    transition: opacity 2s;
    
}
.nav-links2{
    width: 100%;
    background-color: rgba(14, 14, 14, 0.911);
    top: 0vh;
    z-index: 19;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.nav-links2 a{
    font-family: 'Fredoka One', cursive;
    margin: 0;
    padding: 1rem;
    background-color: rgba(14, 14, 14, 0.911);
    color: white;

}
.nav-links2 a:hover{
    background-color: rgba(44, 44, 44, 0.911);
}
.nav-links a{
    font-family: 'Fredoka One', cursive;
    margin: 0 1vw;
    color: white;
}
.nav-links a:hover{
    transform: scale(1.1);
    color: #66FF66;
}
a:link { 
    text-decoration: none; 
}
a:visited { 
    text-decoration: none; 
}
a:hover {
     text-decoration: none;
      
}
a:active {

     text-decoration: none; 
}

.nav-links a:hover{
    cursor: pointer;
}
.landing-container{
    height: 100vh;
    width: 100%;
    background-image: url('/langingBg.jpg');
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.intro-container{
    background: none;
    margin: auto;
    display: grid;
    grid-template-columns: 100%;
}
.intro-container h1{
    font-size: 4rem;
    color: white;
    font-family: 'Fredoka One', cursive;
}
.intro-container h2{
    color: rgb(0, 255, 140);
    font-size: 3rem;
    font-family: 'Righteous', cursive;
    white-space: nowrap;
}
.github-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}
.left{
    margin: auto;
    z-index: 1;
    background: none;
    width: 100%;
}
#buttons{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin: auto;
    margin-top: 1vh;
}
#buttons button{

    padding: 1rem;
    font-size: 1.3rem;
    border: none;
    font-family: 'Righteous', cursive;
    background-color: rgb(255, 255, 255);
}
.fa-bigger::before{
    font-size: 3.5rem;
    color: white;
    margin: 0 1vw;
}
.fa-brands:hover::before{
    cursor: pointer;
    transform: scale(1.1);
    color: #66FF66;
    
}
button:hover{
    cursor: pointer;
    transform: scale(1.2) perspective(1px);
    box-shadow: 0 0 5px 3px 	#66FF66;
}

.scroll-wrapper{
    text-align: center;
    position: absolute;
    bottom: 15%;
    width: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;

}
.scroll {
    font-size: 40px;
    color: rgb(253, 253, 253);
    -webkit-animation: scrolling 3s ease infinite;
    -moz-animation: scrolling 3s ease infinite;
    -o-animation: scrolling 3s ease infinite;
    animation: scrolling 3s ease infinite;
}
@keyframes scrolling {
    0% {
        transform: translate(0);
    }
    50% {
        transform: translate(0,40px);
    }
    100%{
        transform: translate(0);
    }
}
.right{
    overflow:none;
}
.right img{
    position: absolute;
    height: 100%;
    top: 0%;
    right: 0%;
    z-index: 0;
    max-width: 100%;
    overflow: none;
}
.about-me-container{
    background-image: url('/aboutBg.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover  ;
    padding: 20vh 0;
    position: relative;
}
.about-header{
    display: flex;
    justify-content: center;
    color: white;
    margin: auto;
    font-size: 3rem;
}
.about-header h2{
    font-family: 'Righteous', cursive;
}
.about-grid{
    display: grid;
    grid-template-columns: 50% 50%;
}
.about-card{
    background-color: #333131c6;
    border-radius: 10px;
    height: 500px;
    width: 90%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}
.card-header{
    font-family: 'Righteous', cursive;
    display: flex;
    justify-content: center;
    color: rgb(0, 255, 140);
    
}
.card-header2{
    font-family: 'Righteous', cursive;
    display: flex;
    justify-content: center;
    color: rgb(0, 255, 140);
    width: 100%;
    height: 100%;
    align-items: center;
    
}
.card-header2 p{
    font-size: 1.5rem;
    font-family: 'Fredoka One', cursive;
    padding: 0 5rem;
}
.card-header h3{
    font-family: 'Righteous', cursive;
    font-size: 3rem;
    padding-top: 2rem;
}
.card-header p{
    padding: 0 5rem 5rem;
    font-size: 1.5rem;
    font-family: 'Fredoka One', cursive;
}
.skills-container{
    display: flex;
    position: relative;
    height: 70%;
    justify-content: center;
    align-items: center;
    
}
.skill-icons{
    position: absolute;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: space-between;
    flex-wrap:wrap;
    padding: 1rem;
}
.skill-icons i{
    font-size: 7rem;
}
.skills-container img{
    position: relative;
}
.skills-container div{
    text-align: center;
    font-size: 1.5rem;
    color: white;
}
/*Projects section*/
.projects-container{
    background-image: url('/projectBg2.jpg');
    padding: 10rem 0 0rem;
    background-position: bottom right;
    background-size: cover;
    background-repeat: no-repeat;
    
}
.projects-grid{
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 5%;
    justify-items: center;
    padding-bottom: 20vh;
    font-family: 'Righteous', cursive;
}
.projects-grid p{
    font-family: 'Righteous', cursive;
}
.projects-card{
    width: 80%;
    margin: 5% 2.5%;
    background-color: #333131c6;
    display: grid;
    grid-template-columns: 50% 50%;
    border-radius: 10px;
    padding: 3rem;
}
.projects-card h5{
    font-family: 'Righteous', cursive;
}
.proj-left{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.proj-left img{
    object-fit: cover;
}
.image{
    object-fit: contain;
}
.proj-right{
}
.right-header{
    text-align: center;
    font-size: 2rem;
    color: rgb(0, 255, 140);
    border-bottom: 2px white solid;
    width: 80%;
    margin: auto;
    margin-top: 1vh;
}
.right-badges{
    display: flex;
    justify-content: center;
    margin-top: 2%;
    max-width: 100%;
    flex-wrap: wrap;
    padding: 1rem;
    font-size: 1rem;
}
.right-badges p{
    color: white;
    border: 3px solid black;
    padding: 0.3rem;
    margin: 0.3rem;
    background-color: rgba(79, 79, 79, 0.788);
    border-radius: 10px;
}
.about-section{
    text-align: center;
    padding: 1rem;
    font-size: 1rem;
    height: 15vh;
    color: rgb(0, 255, 140);
    width: 80%;
    margin: auto;
    overflow-y:auto;
    margin-bottom: 5vh;
}
.about-section p{

    margin: 1vh 0;
}
.about-section ul{
    padding-left:3rem;
    text-align: left;
    margin: 0;
}
.about-section::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  padding-right: 10px;
  margin-right: 10px;

}

.about-section::-webkit-scrollbar
{
  width: 12px;
  background-color: transparent
}

.about-section::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #484040;
}
.about-button{
    display: flex;
    justify-content: space-around;
    padding: 2rem 0;
    font-family: 'Righteous', cursive;
}
.about-button i{
    margin: 0.3rem;
    
}
.about-button a:any-link{
    color: inherit;
    text-decoration: none;
}
.about-button button{
    padding: 0.5rem;
    font-size: 1rem;
    font-family: 'Righteous', cursive;
}
/* contact section */
.contact-container{
    background-color: #000000;
    padding-bottom: 5vh;
    background-image: url('contactBg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contact-header{
    display: flex;
    justify-content: center;
    color: white;
    margin: auto;
    padding: 0;
    font-size: 3rem;
}
h2{
    color: white;
}
.contact-grid{
    width: 70%;
    margin: auto;
    display: grid;
    grid-template-columns: 60% 40%;
    color: white;
    background: #333131c6;
    border-radius: 10px;
    padding: 1%;
    justify-content: center;
    align-items: center;
}
.contact-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 100%;
}
.contact-form input{
    width: 99%;
    height: 2vh;
    margin: 1vh 0;
    font-size: 1.5rem;
    padding: 0.3rem;
    
}
button{
    border-radius: 10px;
}
textarea{
    margin: 1vh 0;
    font-size: 1.5rem;
    padding: 0.3rem;
    width: 99%;
    max-width: 100%;
}
.contact-form button{
    width: 100%;
    margin: auto;
    border: none;
    border-radius: 10px;
    font-size: 2rem;
    padding: 0.5rem;
    background-color: rgb(0, 255, 140);
}
.contact-form button:hover{
        cursor: pointer;
        transform: scale(1) perspective(1px);
        box-shadow: 0 0 5px 3px 	#ffffff;

}
.form-button{
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-right{
    padding: 0 1rem;
}
.contact-right a{
    color: white;
}
.contact-right li{
    list-style: none;
    margin: 1vh;
    font-size: 1.3rem;
}
.right-icons{
    width: 10vw;
}
.fa-2xl{
    margin-bottom: 1.5rem;
    margin-right: 0.3rem;
    font-size: 1.5rem;
}
.fa-solid{
    margin-right: 0.5rem;
}
.fa-brands{
    margin-right: 0.5rem;
}
.about-name{
    color: white;
    padding: 0 1rem;
    width: 80%;
    margin: auto;
}
.toggle-button{
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}
.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}
.toggle-container{
    display: none;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    padding: 0 1rem;
}
/*media queries*/
@media (min-width:851px){
    #nav-hamburger{
        display: none !important;
    }
}
@media (max-width:850px){
    
    .toggle-container{
        display: flex;
    }
    .toggle-button{
        display: flex;
    }
    .nav-links{
        display: none;
    }
    .contact-right{
        
        padding: 2rem 1rem;
    }
    .contact-right li{
        font-size: 1rem;
    }
    .contact-form button{
        font-size: 1.5rem;
        }
    textarea {
        padding: 0.3rem 0;
        font-size: 1.1rem;
    }
    .contact-form input{
        padding: 0.3rem 0;
        font-size: 1.1rem;
    }
    .fa-bigger::before{
        font-size: 2.5rem;
        color: white;
        margin: 0 1vw;
    }
    .card-header p{
        padding: 2rem;
        font-size: 1.2rem;
    }
    #buttons button{
        font-size: 1rem;
        padding: 0.5rem;
    }
    .intro-container{
        
    }
    .intro-container h2{
        font-size: 2rem;
        padding:0 1rem;
    }
    .intro-container h3{
        font-size: 1.7rem;
        padding: 0 1rem;
    }
}
@media (max-width:1200px){
    .about-grid{
        grid-template-columns: 100%;
    }
    .projects-grid{
        grid-template-columns: 100%;
    }
    .projects-card{
        grid-template-rows: 100%;
        display: block;
    }
    .contact-grid{
        width: 90%;
        grid-template-columns: none;
        grid-template-rows: 60% 40%;
    }
    .contact-form{
        margin-bottom: 3vh;
    }

}
@media(max-width:1500px){
    .skill-icons i{
        font-size: 5rem;
    }
    .card-header{
        font-size: 1.3rem;
    }
}
